

span.injured{color:red;font-weight:bold;}
img.student{width:80px; height:80px; }
.visible{display:inline}
.not-visible{display: none}

.good{color:green;font-size: 16pt;font-weight:bold;}

.bad{color:red;font-weight:bold;}
